<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h6 class="text-right">{{message}}</h6>
    <h1 class="text-capitalize text-center" jhiTranslate="adoptions.title">Title</h1>
    <h5 class="text-center" jhiTranslate="adoptions.subtitle">Subtitle</h5>
    <hr/>
    <p class="text-justify" jhiTranslate="adoptions.content">Content</p>
  </div>
  <div class="col-md-1"></div>
</div>

<!-- Page Content -->
<!--
<div class="container-fluid">

    <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <figure>
                <img class="img-fluid img-thumbnail" src="/content/images/photoChat1.jpg" alt="">
                    <figcaption>Bla bla bla</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <figure>
                <img class="img-fluid img-thumbnail" src="/content/images/photoChat2.jpg" alt="">
                    <figcaption>Poupette petit chat très mignon</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="/content/images/photoChat3.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="/content/images/photoChat4.jpg" alt="">
            </a>
        </div>
    </div>
</div> -->
<!-- /.container -->

<!--
Dans cet exemple on peut cliquer sur une des deux vignette carrée pour les agrandir. Une fois agrandie, on peut également faire défiler l'autre image. Il est ainsi possible de faire une galerie d'images que l'on peut agrandir et faire défiler.
-->


<div class="conteneur-flexbox">
    <div class="box">
        <p class="click">CLICK TO ZOOM</p>
        <!--le lien vers la grande image qui sera affichée lors du clic sur la vignette carrée -->
        <a href="/content/images/photoChat1.jpg" data-lightbox="image-1" data-title="Josef Müller-Brockmann, né le 19 mai 1914 à Rapperswil et mort le 30 août 1996 à Zurich, est un graphiste et créateur de caractères suisse.">
            <!--le lien vers la petite image carrée qui sert de vignette -->
            <img src="/content/images/photoChat1.jpg"></a><figcaption><b>Pimousse</b>, trouvée sur la voie publique, il est calme, gourmand et a besoin de beaucoup de douceur pour reprendre confiance. Il peut vivre en appartement ou en maison. Ne s'entend pas avec les chiens.</figcaption>
    </div>


    <div class="box">
        <p class="click">CLICK TO ZOOM</p>
        <!--le lien vers la grande image qui sera affichée lors du clic sur la vignette carrée -->
        <a href="/content/images/photoChat2.jpg" data-lightbox="image-1" data-title="Karl Gerstner (2 July 1930 – 1 January 2017) was a Swiss designer, typographer, author and artist.">
            <!--le lien vers la petite image carrée qui sert de vignette -->
            <img src="/content/images/photoChat2.jpg"></a><figcaption><b>Rominet</b> est un chat trouillard mais très gentil et très câlin. Il peut vivre en appartement ou en maison. S'entend avec les enfants.</figcaption>
    </div>

    <div class="box">
        <p class="click">CLICK TO ZOOM</p>
        <!--le lien vers la grande image qui sera affichée lors du clic sur la vignette carrée -->
        <a href="/content/images/photoChat3.jpg" data-lightbox="image-1" data-title="Josef Müller-Brockmann, né le 19 mai 1914 à Rapperswil et mort le 30 août 1996 à Zurich, est un graphiste et créateur de caractères suisse.">
            <!--le lien vers la petite image carrée qui sert de vignette -->
            <img src="/content/images/photoChat3.jpg"></a><figcaption><b>Raiponse</b></figcaption>
    </div>


    <div class="box">
        <p class="click">CLICK TO ZOOM</p>
        <!--le lien vers la grande image qui sera affichée lors du clic sur la vignette carrée -->
        <a href="/content/images/photoChat4.jpg" data-lightbox="image-1" data-title="Josef Müller-Brockmann, né le 19 mai 1914 à Rapperswil et mort le 30 août 1996 à Zurich, est un graphiste et créateur de caractères suisse.">
            <!--le lien vers la petite image carrée qui sert de vignette -->
            <img src="/content/images/photoChat4.jpg"></a><figcaption><b>Mila</b></figcaption>
    </div>

    <div class="box">
        <p class="click">CLICK TO ZOOM</p>
        <!--le lien vers la grande image qui sera affichée lors du clic sur la vignette carrée -->
        <a href="/content/images/photoChat5.jfif" data-lightbox="image-1" data-title="Josef Müller-Brockmann, né le 19 mai 1914 à Rapperswil et mort le 30 août 1996 à Zurich, est un graphiste et créateur de caractères suisse.">
            <!--le lien vers la petite image carrée qui sert de vignette -->
            <img src="/content/images/photoChat5.jfif"></a><figcaption><b>Grisou</b></figcaption>
    </div>

    <div class="box">
        <p class="click">CLICK TO ZOOM</p>
        <!--le lien vers la grande image qui sera affichée lors du clic sur la vignette carrée -->
        <a href="/content/images/photoChat6.jfif" data-lightbox="image-1" data-title="Josef Müller-Brockmann, né le 19 mai 1914 à Rapperswil et mort le 30 août 1996 à Zurich, est un graphiste et créateur de caractères suisse.">
            <!--le lien vers la petite image carrée qui sert de vignette -->
           <img src="/content/images/photoChat6.jfif"></a><figcaption><b>Cannelle</b></figcaption>
    </div>




