</br>
<footer class="footer">
    <div class="container-fluid">
        <div class="row text-center justify-content-center">
            <div class="col-md-2 mt-3 mb-1">
                <h6 class="text-uppercase font-weight-bold">
                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" jhiTranslate="global.menu.home">Accueil</a>
                </h6>
            </div>

            <!--<div class="col-md-2 mt-3 mb-1">
                <h6 class="text-uppercase font-weight-bold">
                    <a routerLink="product" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" jhiTranslate="global.menu.boutique">Adoptions</a>
                </h6>
            </div>-->

            <div class="col-md-2 mt-3 mb-1">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#">Adoptions</a>
                </h6>
            </div>

            <div class="col-md-2 mt-3 mb-1">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Faire un don</a>
                </h6>
            </div>

            <div class="col-md-2 mt-3 mb-1">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Contact</a>
                </h6>
            </div>
        </div>

        <hr width="75%" color="black">

        <!--<div class="row">
            <div class="col-md-12">
                <div style="text-align:center">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                </div>
            </div>
        </div> -->
        <div class="row text-center d-flex justify-content-center pt-4" style="background-color:#E7D8E1">
            <div class="col-md-12">
            <span>
                &copy; 2020 :
                <a href="https://leschatslibresdulittoral.cfapps.io/" style="color:black"> Les Chats Libres du Littoral</a> All rights reserved.
            </span>

            </div>
        </div>

    </div>
</footer>




<!--<div class="wrapper">
    <nav>
        <ul>
            <li><a href="#">Adoptions</a></li>
            <li><a href="#">Faire un don</a></li>
            <li><a href="#">Contactez-nous</a></li>
        </ul>
    </nav>

    <div class="copyright">
        &copy; 2020 Les chats libres du littoral. All rights reserved.
    </div>
</div> -->


<!-- <div class="footercat" style="background-color:white">
    <div class="row" style="text-align:center">
        <div class="column left" id="contact">
            <h1>Contact</h1>
            <p>corine.dhayere@gmail.com</p>
            <p>07 66 66 08 70</p>
        </div>
        <div class="column middle" id="mes_chats">
            <h1 class="footercat">Adoption</h1>
            <p><img src="photoChat1.jpg" alt="Photographie"/></p>

        </div>
        <div class="column right" id="boutique">
            <h1>Boutique</h1>
        </div>
    </div>
 </div> -->
