   <div class="footercat" style="background-color:white">
    <div class="row" style="text-align:center">
        <div class="column left" id="contact">
            <h1>Contact</h1>
            <p>corine.dhayere@gmail.com</p>
            <p>07 66 66 08 70</p>
        </div>
        <div class="column middle" id="mes_chats">
            <h1 class="footercat">Adoption</h1>
            <p><img src="photoChat1.jpg" alt="Photographie"/></p>

        </div>
        <div class="column right" id="boutique">
            <h1>Boutique</h1>
        </div>
    </div>
 </div>
