<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h6 class="text-right">{{message}}</h6>
    <h1 class="text-capitalize text-center" jhiTranslate="contact.title">Title</h1>
    <h5 class="text-center" jhiTranslate="contact.subtitle">Subtitle</h5>
    <hr/>
    <p class="text-justify" jhiTranslate="contact.content">Content</p>
  </div>
  <div class="col-md-1"></div> -->

    

    <div class="container">
        <form action="action_page.php">

            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" placeholder="Votre prénom...">

            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" placeholder="Votre nom...">

            <label for="subject">Sujet</label>
            <textarea id="subject" name="subject" placeholder="Votre message..." style="height:200px"></textarea>

            <input type="submit" value="Envoyer">

        </form>
    </div>
</div>
