@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/
/* création de 3 colonnes */
.column {
  float: left;
  height: 100px;
  padding: 10px;
  vertical-align: middle;
}

.column.left {
  margin: 10px 30px 10px 60px;
  width: 27%;
}

.column.right {
  margin: 10px 30px 10px;
  width: 27%;
}

.column.middle {
  margin: 10px 30px 10px;
  width: 27%;
}

/* création d'espaces entre les colonnes */
.row:after {
  content: '';
  width: 100%;
  padding: 20px;
  display: table;
  clear: both;
}

/* responsive layout */
@media screen and(max-width: 1200px) {
  .column.middle,
  .column.left,
  .column.right {
    width: 100%;
  }
}

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

/* Increase contrast of links to get 100% on Lighthouse Accessability Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
a {
  color: #533f03;
  font-weight: bold;
}

a:hover {
  color: #533f03;
}

/* override hover color for dropdown-item forced by bootstrap to all a:not([href]):not([tabindex]) elements in _reboot.scss */
a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

/* override .dropdown-item.active background-color on hover */
.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-active-bg, 50%);
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* footer */
.footer {
  /* Copier seulement ces lignes de code pour le FOOTER, mais le garder comme CLASSE cf : https://www.webtolosa.com/2017/09/21/comment-avoir-un-footer-colle-en-bas-de-page/ */
  position: relative;
  bottom: 0; /* on le colle en bas */
  width: 100%;
  height: auto; /* Hauteur du pied de page */
  /* + ajouter cette ligne de code (elle permet de fixer le pied de page en bas en adaptant à la taille du contenu)*/
  clear: both;
  /* personnalisation*/
  color: black;
  background-color: #e7d8e1;
}

/*Boutons Facebook en footer : https://www.w3schools.com/howto/howto_css_social_media_buttons.asp*/
/* Style all font awesome icons */
.fa {
  padding: 15px 0px 0px;
  font-size: 35px;
  width: 55px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/*
.wrapper {
  width: 100%;
  background-color: #EDD2F2;
  padding: 60px 0px;
}

.wapper nav {
  float: right;
}

.wrapper nav ul {
  margin-top: 73px;
}

.wrapper nav ul li {
  display: inline-block;
  margin-left: 20px;
  list-style: none;
}

.wrapper nav ul li a {
  font-weight: 400;
  font-size: 14px;
}

.aside
{
 flex: 0.8;
   position: relative;
   background-color: #6f7172;
   box-shadow: 0px 2px 5px #1c1a19;
   border-radius: 5px;
   padding: 10px;
   color: white;
   font-size: 0.9em;
   margin-bottom: 15px;
}

.aside img {
  margin-right: 10px;
}

.article p {
  font-size: 0.8em;
}

.article,
aside {
  text-align: justify;
}

.article {
  margin-right: 20px;
  flex: 3;
}
*/

/* Slider / tuto : https://www.youtube.com/watch?v=ZsuTciVL8PU */
@keyframes AutoSlide {
  0% {
    left: 0px; /* 1ère image */
  }
  10% {
    left: 0px; /* idem pour attente */
  }
  33% {
    left: -200px; /* 2ème image */
  }
  43% {
    left: -200px; /* idem pour attente */
  }
  66% {
    left: -400px; /* 3ème image */
  }
  76% {
    left: -400px; /* idem pour attente */
  }
  100% {
    left: 0px; /* 1ère image */
  }
}

@keyframes AutoSlide {
  0%,
  10%,
  100% {
    left: 0px; /* 1ère image */
  }
  33%,
  43% {
    left: -280px; /* 2ème image */
  }
  66%,
  76% {
    left: -560px; /* 3ème image */
  }
}

#slideshow {
  position: relative; /* le parent positionné */
  width: 268px; /* limite en largeur (1 élément du slideshow) */
  height: 200px; /* limite en hauteur */
  margin: auto;
  overflow: hidden; /* on cache l'élément qui déborde */
}

#sContent li {
  display: inline; /* on aligne les éléments du slideshow */
}

#sContent {
  position: absolute; /* on sort l'élémentdu flux */
  top: 0; /* on le positionne précisément dans ... */
  left: 0; /* l'angle haut gauche de son parent positionné */
  width: 300%; /* ou 300% (car 3 éléments) */
  margin: 0px;
  padding: 0;

  /* CSS3 Transition */
  transition: left 3s;

  /* CSS3 keyframes animation */
  animation-name: AutoSlide;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */
